.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.task{
  display: flex;
  gap: 20px;
 flex-direction: row-reverse;
 align-items: center;
 justify-content: center;
}
